<h1>Clientes</h1>

<%= form_with url: search_clients_path, method: :get do |f| %>
  <%= f.label :q, 'Busca'%>
  <%= f.search_field :q%>
  <%= f.submit 'Buscar'%>
<%end%>
<div>
<% if @clients.any? %>
  <ul>
    <% @clients.each do |c|%>
      <li><%= link_to c.name, c %></li>
<%end%>
  </ul>
  <%else%>
  <p>Nenhum cliente cadastrado</p>
<%end%>
</div>
<div>
<p><%= link_to "Cadastrar cliente", new_client_path %></p>
<p><%= link_to "Voltar", root_path %></p>
</div>