<div>
<dl>
<dt><h1><%= "Catergoria: #{@car_category.name}" %></h1></dt>
  <dd><p><%= "Diária: R#{number_to_currency(@car_category.daily_rate)}" %></p></dd>
  <dd><p><%= "Seguro do Carro: R#{number_to_currency(@car_category.car_insurance)}"%></p></dd>
  <dd><p><%= "Seguro contra terceiros: R#{number_to_currency(@car_category.third_party_insurance)}"%></p></dd>
</dl>
</div>
<div>
<p><%= link_to "Apagar categoria", @car_category, method: :delete %></p>
<p><%= link_to "Editar", edit_car_category_path %></p>
<p><%= link_to "Voltar", car_categories_path %></p>
</div>
