<h1>Detalhes</h1>

  <table>
    <thead>
      <tr>
        <th>Placa</th>
        <th></th>
        <th>Cor</th>
        <th></th>
        <th>Modelo do Carro</th>
        <th></th>
        <th>Kilometragem</th>
        <th></th>
        <th>Filial</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @car.license_plate %></td>
        <td></td>
        <td><%= @car.color%></td>
        <td></td>
        <td><%= @car.car_model.name %></td>
        <td></td>
        <td><%= @car.mileage %></td>
        <td></td>
        <td><%= @car.subsidiary.name %></td>
      </tr>      
    </tbody>
  </table>
<br>

<%= link_to "Editar", edit_car_path%>
<p><%= link_to "Apagar carro", @car_model, method: :delete %></p>
<%= link_to 'Voltar', cars_path %>