<h1><%= "Modelo de carro: #{@car_model.name}" %></h1>
<div>
<dl>
  <dt>Fabricante: </dt>
  <dd><%= @car_model.manufacturer.name %></dd>
  <dt>Ano: </dt>
  <dd><%= @car_model.year %></dd>
  <dt>Cavalos: </dt>
  <dd><%= @car_model.motorization %></dd>
  <dt>Categoria: </dt>
  <dd><%= @car_model.car_category.name %></dd>
  <dt>Diária: </dt>
  <dd><%= @car_model.car_category.daily_rate %></dd>
  <dt>Tipo de combustível: </dt> 
  <dd><%= @car_model.fuel_type %></dd>
  <dt>Diária: </dt>
  <dd><%= number_to_currency(@car_model.car_category.daily_rate) %></dd>
</dl>
</div>
<div>
<p><%= link_to "Apagar modelo de carro", @car_model, method: :delete %></p>
<p><%= link_to "Editar", edit_car_model_path %></p>
<p><%= link_to "Voltar", car_models_path %></p>
</div>
